// Theme's Palette
@import("C:/Users/夏英杰/Desktop/blogs/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/Users/夏英杰/Desktop/blogs/docs/.vuepress/styles/palette.styl")